.meet-creators-wrapper {
  margin-top: 115px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.creators-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;

  margin-top: 130px;
}

.creator-card {
  width: 370.5px;
  height: 537.5px;

  box-shadow: 30px 15px 80px 0px rgba(191, 191, 191, 0.6);

  border-radius: 25px;
  background: #f2f2f2;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.creator-card-bg {
  background-image: url(../assets/backgrounds/creator-card-bg-1.png);
  background-repeat: no-repeat;
  background-size: cover;

  width: 370.5px;
  height: 204px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.creator-card:nth-child(2) .creator-card-bg {
  background-image: url(../assets/backgrounds/creator-card-bg-2.png);
}

.creator-card:nth-child(3) .creator-card-bg {
  background-image: url(../assets/backgrounds/creator-card-bg-3.png);
}

.creator-card-verified h2 {
  color: var(--light-100, #000);
  font-size: 24px;
  line-height: 33.5px; /* 141.667% */
}

.creator-card > img {
  margin-top: 117px;
  border-radius: 50%;
  border: #ffffff solid 5px;
  z-index: 1;
  margin-bottom: 14px;
}

.creator-name h2 {
  color: var(--light-100, #000);
  font-size: 23.5px;
  line-height: 33.5px; /* 141.667% */
}

.card-info {
  display: flex;
  gap: 38px;

  margin-top: 17.5px;
}

.card-info h3 {
  color: #141416;
  text-align: center;
  line-height: 25.5px; /* 144.444% */
}

.card-info p {
  color: var(--Gray-3, #828282);
  text-align: center;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
  text-transform: capitalize;
}

.card-pics {
  display: flex;
  gap: 10px;

  margin-top: 33px;
}

.card-pics img {
  width: 99.5px;
  height: 99.5px;
  border-radius: 10px;
}

.more-pics {
  position: relative;
}

.more-pics::after {
  content: "+55";
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 99.5px;
  height: 99.5px;

  border-radius: 10px;
  background-color: #10101080;

  color: #fff;
  font-family: Urbanist;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px; /* 110% */
  letter-spacing: 0.2px;
}

.creator-card-verified::after {
  width: 23.5px;
  height: 23.5px;
  top: 3px;
  right: -39px;
}

@media screen and (max-width: 1024px) {
  .meet-creators-wrapper h1 {
    font-size: 32px;
    line-height: 21.5px; /* 66.676% */
  }

  .meet-creators-wrapper {
    margin-top: 80px;
  }

  .creators-card-wrapper {
    margin-top: 92px;
    gap: 42.5px;
  }

  .creator-card {
    width: 263.5px;
    height: 382.5px;
    border-radius: 18px;
    box-shadow: 21.5px 10.5px 57px 0px rgba(191, 191, 191, 0.6);
  }

  .creator-card-bg {
    height: 146px;
    width: 263.5px;
  }

  .creator-card > img {
    margin-top: 85px;
    width: 79px;
    height: 79px;
    border: #ffffff solid 3px;
  }

  .creator-card-verified h2 {
    font-size: 17px;
    line-height: 24px; /* 141.667% */
  }

  .creator-card-verified::after {
    width: 16.5px;
    height: 16.5px;
    top: 2px;
    right: -31px;
  }

  .card-info {
    gap: 26.5px;
    margin-top: 12.5px;
  }

  .card-info h3 {
    font-size: 12.5px;
    line-height: 18px; /* 144.444% */
  }

  .card-info p {
    font-size: 9px;
    line-height: 11px; /* 123.077% */
  }

  .card-pics {
    margin-top: 22.5px;
    gap: 7px;
  }

  .card-pics img {
    width: 70.5px;
    height: 70.5px;
    border-radius: 7px;
  }

  .more-pics::after {
    width: 70.5px;
    height: 70.5px;
    border-radius: 7px;
    font-size: 14px;
    line-height: 15.5px; /* 110% */
    letter-spacing: 0.14px;
  }
}

@media screen and (max-width: 375px) {
  .meet-creators-wrapper h1 {
    width: 227px;
    text-align: center;
    font-size: 30px;
    line-height: 125%; /* 37.5px */
  }

  .meet-creators-wrapper {
    margin-top: 75px;
  }

  .creators-card-wrapper {
    margin-top: 70px;
  }
}
